{include file="./admin-layout/header.html" /}
<style>
	.layui-form-label {
		width: 120px;
	}
	
	.bigImg {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		left: 0;
		top: 0;
		z-index: 1000;
		position: fixed;
	}
</style>
<div class="admin-main">
	<!--点击图片放大-->
	<div class="bigImg pos-fix">
		<img src="">
	</div>
	<!--点击图片放大结束-->
	<div class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">权限分配</label>
			<div class="layui-input-block">
				{volist name='list' id='power'}
					<div class="layui-input-block parent">
						<input type="hidden" name="id" value="{$id}">
						<div class="layui-input-inline" style="width:auto;">
							<input type="checkbox" class="pid" name="power[]" lay-filter="pow" value="{$power.id}" title="{$power.name}" {eq name="power.select" value="1" }checked="" {/eq}> 
						</div>
						{if condition="isset($power['children'])"}
						<div class="layui-input-inline" style="width:auto;">
							{volist name='power.children' id='child'}
							<div style="margin: 2% 0 0 0;float: left;" class="son">
								<input type="checkbox" lay-skin="primary" class="child" lay-filter="power" value="{$child.id}" name="power[]" title="{$child.name}" {eq name="child.select" value="1" }checked="" {/eq}>
							</div>
							{/volist}
						</div>
						{/if}
					</div>
					<hr class="layui-bg-orange" width="90%" style="margin-left: 5%;">
				{/volist}
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block" style="margin-left: 30px;text-align: center;margin-top:20px;">
				<button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="submit">提交</button>
				<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="javascript:history.go(-1)">返回</button>
			</div>
		</div>
	</div>
	<script>
		layui.use(['layer', 'form'], function() {
			var $ = layui.jquery,
				form = layui.form,
				layer = layui.layer; //独立版的layer无需执行这一句
			form.on('checkbox(power)', function(data) {
				var pid = $(data.elem).parents('.parent').find('.pid');
				var length = $(data.elem).parents('.parent').find('.child:checked').length;
				if(length>1){
					pid.prop('checked',true);
				}else{
					console.log(data.elem.checked);
					console.log(length);
					if(!data.elem.checked&&length==1){
						pid.prop('checked',true);
					}else{
						pid.prop('checked',data.elem.checked);
					}
				}
				form.render('checkbox');
			});
			form.on('checkbox(pow)', function(data) {
				var child = $(data.elem).parents('.parent').find('.son input[type="checkbox"]');
				child.each(function(index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});
			//提交
			form.on('submit(submit)', function(data) {
				$.ajax({
					url: "{:url('powerdetail')}",
					type: "POST",
					data: data.field,
				}).done(function(data) {
					if(data.result == 0) {
						layer.msg(data.message, {
							icon: 1,
							time: 3000
						}, function() {
							location.href = data.url;
						});
					} else {
						layer.msg(data.message, {
							icon: 2,
							time: 3000
						});
					}
				}).error(function(data) {
					layer.msg('错误', {
						icon: 2,
						content: '服务器错误'
					});
				});
			});
		});
	</script>