{include file="./admin-layout/header.html" /}
<div class="admin-main">
    <div class="layui-form">
        <form method="get" action="">
            <blockquote class="layui-elem-quote" style="font-size: 12px;">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <img  src="{:ADMIN_STYLE}images/u2702.png" alt=""><img style="margin-left: -41px;" src="{:ADMIN_STYLE}images/u2703.png" alt="">
                        <div style="display: inline-grid;margin-left: 30px;">
                            <p>今日收入</p>
                            <p>123,212</p>
                        </div>
                    </div>
                </div>
            </blockquote>
        </form>
    </div>
</div>