{include file="./admin-layout/header.html" /}
<style>
    .layui-form-label{
        width: auto;
    }
    a{text-decoration:none}
    #c{
    /* margin-left: 490px; */
    position: absolute;
    margin-top: -387px;
    /* margin-top: -11px; */
    }
    .layui-layer-page .layui-layer-content{
        overflow: unset;
    }
</style>
<div class="admin-main">
    <div class="layui-form">
        <blockquote class="layui-elem-quote" style="font-size: 12px;">
            <div class="layui-form-item" style="margin-bottom: 0px;margin-left: 80px;">
                <form method="get" action="{:url('equipmentfault')}">
                    <div>
                        <div class="layui-input-inline" style="width:auto;margin-right: 90px;">
                            <label class="layui-form-label">设备编号：</label>
                            <input type="text" class="layui-input" style="width:200px" name="equipment_no" id="name" value="" placeholder="请输入设备编号搜索" autocomplete="off">
                        </div>
                        <div class="layui-input-inline" style="width:auto;margin-right: 90px;">
                            <label class="layui-form-label">设备名称：</label>
                            <input type="text" class="layui-input" style="width:200px" name="equipment_name" id="name" value="" placeholder="请输入设备名称搜索" autocomplete="off">
                        </div>
                        <div class="layui-input-inline" style="width:auto;margin-right: 90px;">
                            <label class="layui-form-label">负责人：</label>
                            <input type="text" class="layui-input" style="width:200px" name="charge_name" id="name" value="" placeholder="请输入负责人" autocomplete="off">
                        </div>
                    </div>
                    <div style="float: left">
                        <div class="layui-input-inline" style="width:auto;margin-right: 90px;">
                            <label class="layui-form-label">所属医院：</label>
                            <div class="layui-input-block" style="width: 160px;margin-left: 90px;">
                                <select name="hospital_id" lay-verify="">
                                    <option value="">请选择所属医院</option>
                                    {foreach name="hospital" item="val"}
                                    <option value="{$val.id}">{$val.hospital_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn" style="margin-left: 90px"><i class="layui-icon">&#xe615;</i> 查询</button>
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn layui-btn-normal" onclick="addfault()"><i class="layui-icon">&#xe608;</i> 添加</button>
                        </div>
                    </div>
                </form>
                <!-- {foreach name="menulist" item="val"} {if condition="$val.url eq 'Equipment/addfault'"} -->
                <!-- <div class="layui-input-inline" style="width: auto;">
                    <button class="layui-btn layui-btn-normal" onclick="addfault()"><i class="layui-icon">&#xe608;</i>添加</button>
                </div> -->
                <!-- {/if}{/foreach} -->
            </div>
        </blockquote>
        <table class="layui-table">
            <thead>
                <tr>
                <th>所属医院</th>
                <th>设备编号</th>
                <th>设备地区</th>
                <th>柜门名称</th>
                <th>故障类型</th>
                <th>故障描述</th>
                <th>联系人</th>
                <th>联系人电话</th>
                <th>设备负责人</th>
                <th>负责人联系电话</th>
                <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                {volist name="list" id='v'}
                <tr style="height: 70px">
                    <td colspan="11">
                        <span>保修单号：{$v.oddnumbers}</span>
                        <span style="margin-left: 97px;color: gray;">{$v.create_time}</span>
                        <span style="float: right;margin-right: 10px;">
                            {if condition="$v.status eq 0"}
                            <span style="color: red">保修处理中</span>
                            {/if}{if condition="$v.status eq 1"}
                            <span>处理完成</span>
                            {/if}
                        </span>
                    </td>
                </tr>
                <tr style="height: 70px">
                    <td>{$v.hospital_name}</td>
                    <td>{$v.equipment_no}</td>
                    <td>{$v.name}</td>
                    <td>{$v.lock_name}</td>
                    <td>
                        {if condition="$v.fault_cause eq 1"}
                        开锁失败
                        {/if}{if condition="$v.fault_cause eq 2"}
                        开门失败
                        {/if}{if condition="$v.fault_cause eq 3"}
                        物品损坏
                        {/if}{if condition="$v.fault_cause eq 4"}
                        关门失败
                        {/if}
                    </td>
                    <td>{$v.fault_desc}</td>
                    <td>{empty name="$v.user_name"}\{/empty}{$v.user_name}</td>
                    <td>{empty name="$v.tel"}\{/empty}{$v.tel}</td>
                    <td>{$v.charge_name}</td>
                    <td>{$v.charge_phone}</td>
                    <td>
                        {if condition="$v.status eq 0"}
                        <a href="{:url('editfaultstatus',['id'=>$v.id,'status'=>$v.status])}" style="color: blue">处理完成</a>
                        {/if}{if condition="$v.status eq 1"}
                        <span style="color: #afadad;">处理完成</span>
                        {/if}
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div id="fault" style="display: none;">
            <div class="layui-input-inline">
                <label class="layui-form-label">设备地区</label>
                <input type="text" class="layui-input" style="width: 328px;margin-left: 14px;" name="filter" id="city" value="" placeholder="请选择省市区" autocomplete="off">
            </div>
            <label class="layui-form-label">设备编号</label>
            <div class="layui-input-inline" style="width: 328px;margin-left: 14px;">
                    <select lay-filter="equipment_no" id="equipment_no" name="equipment_no">
                        <option value="">选择设备编号</option>
                        {foreach name="device" item="vo"}
                        <option value="{$vo.id}">{$vo.equipment_no}</option>
                        {/foreach}
                    </select>
                </div>
            <label class="layui-form-label">柜门编号</label>
            <div class="layui-input-inline" style="width: 328px;margin-left: 14px;">
                <select name="lock_num" lay-filter="lock_num" id="lock_num">
                    <!-- <option value="">选择问题柜门编号</option> -->
                    <!-- {foreach name="lock" item="vo"}
                    <option value="{$vo.id}">{$vo.lock_num}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{$vo.lock_name}</option>
                    {/foreach} -->
                </select>
            </div>
            <label class="layui-form-label">保修类型</label>
            <div class="layui-input-inline" style="width: 328px;margin-left: 14px;">
                <select name="fault_cause">
                    <option value="">请选择保修类型</option>
                    <option value="1">开锁失败</option>
                    <option value="2">开门失败</option>
                    <option value="3">物品损坏</option>
                    <option value="4">关门失败</option>
                </select>
            </div>
            <label class="layui-form-label">故障描述</label>
            <div class="layui-input-inline" style="width: 328px;margin-left: 14px;">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
            <div style="display: none;" id="c">
                <div class="layui-input-inline" id="div" style="width: 100px;margin-left: 14px;">
                    <select name="data1" lay-filter="data1">
                        {foreach name="region" item="vo"}
                            <option value="{$vo.id}" >{$vo.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-input-inline" id="div1" style="display: none;width: 100px;margin-left: 0px;">
                    <select lay-filter="data2" name="data2" id="select2">
                    </select>
                </div>
                <div class="layui-input-inline" id="div2" style="display: none;width: 100px;margin-left: 0px;">
                    <select lay-filter="data3" name="select3" id="select3">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        
        //监听提交
        form.on('submit(formDemo)', function(data){
        layer.msg(JSON.stringify(data.field));
        return false;
        });
    });
    //添加
    function addfault(){
        layer.open({
        type: 1
        ,title: '新增/编辑'
        ,area: ['360px', '600px']
        ,shade: 0
        ,content: $('#fault')
        ,btn: ['确定', '取消']
        ,shade :0.8
        ,btnAlign: 'c'
        ,skin: 'open_class'
        ,yes: function(layero, index){
            var data1 = $("select[name='data1']").val();
            var data2 = $("select[name='data2']").val();
            var data3 = $("select[name='select3']").val();
            var equipment_no = $("select[name='equipment_no']").val();
            var lock_num = $("select[name='lock_num']").val();
            var fault_cause = $("select[name='fault_cause']").val();
            var desc = $("textarea[name='desc']").val();
            var field = {};
            field.data1 = data1;
            field.data2 = data2;
            field.data3 = data3;
            field.equipment_no = equipment_no;
            field.lock_num = lock_num;
            field.fault_cause = fault_cause;
            field.desc = desc;
            $.ajax({
                url: "{:url('addfault')}",
                data: field,
                type: "POST"
            }).done(function(data) {
                if(data.result == 0){
                    layer.msg(data.message, {
                        icon: 1,
                        time: 3000
                    },function(){
                        location.href = data.url;
                    });
                }else{
                    layer.msg(data.message, {
                        icon: 2,
                        time: 3000
                    });
                }
            }).error(function(data) {
                layer.msg('错误', {
                    icon: 2,
                    content: '服务器错误'
                })
            })
        }
        });
    }
    $("#city").on('click',function(){
        $('#c').show();
        // console.log($('#city').val().length);
        // if($('#city').val().length == 0){
        //     $("#city").removeAttr(disabled);
        // }else{
        //     $("#city").attr('disabled',"disabled");
        // }
    })
    $("#city").bind("input propertychange",function(){
        if($(this).val() == ''){
            $('#c').show();
        }
    });
    layui.use('form', function() {
        var form = layui.form;
        form.render('select');
        var top_id = '';
        var province_name = ''; //定义 省
        var city_name = '';
        var area_name = '';
        //下拉选择：省/市
        form.on('select(data1)', function(data) {
            top_id = data.value;
            var idea = 1;
            province_name = data.elem[data.elem.selectedIndex].text
            $("#div1").show();
            //alert(hosid);
            $.ajax({
                url : "{:url('region')}",
                data : {top_id:top_id,idea:idea},
                dataType : "json",
                success : function(d) {
                    console.log(d);
                    var tmp = '<option value="">--请选择--</option>';
                    //改变第三级下拉框回复原样
                    $("#select2").html(tmp);
                    $("#select3").html(tmp);
                    for ( var i in d) {
                        tmp += '<option value="'+d[i].id+'">' + d[i].name + '</option>';
                    }
                    $("#select2").html(tmp);
                    form.render();
                },
                error:function(){
                    layer.alert('请求失败，稍后再试', {icon: 5});
                }

            });
        });

        //下拉选择：市/区
        form.on('select(data2)', function(data) {
            var id   = data.value;
            second_id = id;
            var idea = 2;
            city_name = data.elem[data.elem.selectedIndex].text
            $("#div2").show();

            $.ajax({
                url : "{:url('region')}",
                data : {top_id:top_id,id:id,idea:idea},
                dataType : "json",
                success : function(d) {
                    var tmp = '<option value="">--请选择--</option>';
                    //改变第三级下拉框回复原样
                    $("#select3").html(tmp);
                    for ( var i in d) {
                        tmp += '<option value="'+d[i].id+'">' + d[i].name + '</option>';
                    }
                    $("#select3").html(tmp);
                    form.render();
                },
                error:function(){
                    layer.alert('请求失败，稍后再试', {icon: 5});
                }

            });
        });

        //下拉选择：乡/镇
        form.on('select(data3)', function(data) {
            area_name = data.elem[data.elem.selectedIndex].text
            area_id = data.value;
            $("#city").val(province_name+'/'+city_name+'/'+area_name)
            $("#city").show();
            $("#c").hide();
            
        });
        //根据设备编号获取柜门编号
        form.on('select(equipment_no)', function(data) {
            var id   = data.value;
            $.ajax({
                url : "{:url('getlock_num')}",
                data : {id,id},
                // dataType : "json",
                success : function(d) {
                    var tmp = '<option value="">--请选择--</option>';
                    //改变第三级下拉框回复原样
                    $("#lock_num").html(tmp);
                    for ( var i in d) {
                        tmp += '<option value="'+d[i].id+'">' + d[i].lock_num + '&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;' + d[i].lock_name + '</option>';
                    }
                    $("#lock_num").html(tmp);
                    form.render();
                },
                error:function(){
                    layer.alert('请求失败，稍后再试', {icon: 5});
                }
            });
        });
    });
    
    </script>